= form_for @parish do |f|
  - if @parish.errors.any?
    #error_explanation
      %h2= "#{pluralize(@parish.errors.count, "error")} prohibited this parish from being saved:"
      %ul
        - @parish.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :town_id
    = f.select :town_id, options_for_select(towns, @parish.town.try(:id)), include_blank: '--- select ---'
  .field
    = f.label :diocese_id
    = f.select :diocese_id, options_for_select(dioceses, @parish.diocese.try(:id)), include_blank: '--- select ---'
  .actions
    = f.submit 'Save'
