%p#notice= notice

%p
  %b Name:
  = @parish.name
%p
  %b Town:
  = @parish.town&.name
%p
  %b Diocese:
  = @parish.diocese&.name

= link_to 'Edit', edit_parish_path(@parish)
\|
= link_to 'Back', parishes_path
