%h1 Listing towns

%table
  %thead
    %tr
      %th Name
      %th Postcode
      %th Country
      %th +
      %th
      %th
      %th

  %tbody
    - @towns.each do |town|
      %tr
        %td= town.name
        %td= town.postcode
        %td= town.country&.name
        %td= link_to 'Add parish', new_parish_path(town_id: town.id)
        %td= link_to 'Show', town
        %td= link_to 'Edit', edit_town_path(town)
        %td= link_to 'Destroy', town, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Town', new_town_path
