%p#notice= notice

%p
  %b Name:
  = @town.name
  %p
    %b Postcode:
    = @town.postcode
%p
  %b Country:
  = @town.country&.name

= link_to 'Edit', edit_town_path(@town)
\|
= link_to 'Back', towns_path
