.menu-container
  %ul
    %li
      = link_to 'Building', '#'
    %li
      = link_to 'Diocese', '#'
    %li
      = link_to 'Function', '#'
    %li
      = link_to 'Information', '#'
    %li
      = link_to 'Locality', '#'
    %li
      = link_to 'Parish', '#'
    %li
      = link_to 'Person', '#'
    %li
      = link_to 'Position', '#'
